@import "tailwindcss";

:root {
  font-family: "Cascadia Code", sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

@custom-variant dark (&:where(.dark, .dark *));

.gradient {
  background: linear-gradient(to right, #1b2526 0%, #131313 55%, #16363f 100%);


}